.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-y: center;
   /* background-image: url(D:\projects\react_app\client\public\images\register.jpg)  ; */

  
  }
  .register-alignment{
    right: 290px;
    position: absolute;
  }
  .registerTitle {
    font-size: 50px;
    
  }
  
  .registerForm {
   
    display: flex;
    flex-direction: column;
   
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .registerLoginButton {
    width: 201px;
    /* padding-top: 9px; */
    margin-top: 10px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }